* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}

header img {
    height: 50px; /* Ajusta el tamaño del logotipo según sea necesario */
}

main {
    margin-top: 70px; /* Ajustar según la altura del header para que no oculte contenido */
    width: 100%;
    overflow-x: hidden;
}

nav {
    display: flex;
    flex-direction: row; /* Menú horizontal por defecto */
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background-color: transparent; /* Fondo transparente para pantallas grandes */
    position: static;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 15px;
    display: block;
    cursor: pointer;
}

nav ul li a:hover {
    background-color: #555;
}

.menu-toggle {
    display: none; /* Ocultar el botón de menú en pantallas grandes */
}

.menu-icon::before {
    content: "☰"; /* Ícono del menú */
}

.menu-toggle.close .menu-icon::before {
    content: "✖"; /* Ícono de cerrar el menú */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        background-color: #333;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: none; /* Ocultar el menú por defecto */
    }

    nav.active {
        display: flex; /* Mostrar el menú cuando esté activo */
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin: 0;
        width: 100%;
    }

    nav ul li a {
        padding: 10px 20px;
        width: 100%;
    }

    .menu-toggle {
        display: block; /* Mostrar el botón de menú en pantallas pequeñas */
        background: none;
        border: none;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        right: 20px;
    }
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #1e90ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
