* {
    border: none;
    /*border: red solid 1px;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    background-color: #ffffff;
    color: #1E1E1E;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}

header img {
    height: 50px; /* Ajusta el tamaño del logotipo según sea necesario */
}

main {
    margin-top: 70px; /* Ajustar según la altura del header para que no oculte contenido */
    width: 100%;
    overflow-x: hidden;
}

nav {
    display: flex;
    flex-direction: row; /* Menú horizontal por defecto */
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background-color: transparent; /* Fondo transparente para pantallas grandes */
    position: static;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #1E1E1E; /* Color del texto del menú */
    text-decoration: none;
    font-weight: 600;
    padding: 10px 15px;
    display: block;
    cursor: pointer;
}

nav ul li a:hover,
nav ul li a.active {
    color: #ECB941; /* Color para el estado activo y al pasar el cursor */
}

.menu-toggle {
    display: none; /* Ocultar el botón de menú en pantallas grandes */
}

.menu-icon::before {
    color: #1E1E1E;
    content: "☰"; /* Ícono del menú */
}

.menu-toggle.close .menu-icon::before {
    color: #1E1E1E;
    content: "✖"; /* Ícono de cerrar el menú */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        background-color: #ffffff;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: none; /* Ocultar el menú por defecto */
    }

    nav.active {
        display: flex; /* Mostrar el menú cuando esté activo */
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin: 0;
        width: 100%;
    }

    nav ul li a {
        color: #1E1E1E;
        padding: 10px 20px;
        width: 100%;
    }

    .menu-toggle {
        display: block; /* Mostrar el botón de menú en pantallas pequeñas */
        background: none;
        border: none;
        color: #ffffff;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        right: 20px;
    }
}

/* Secciones */
/* Estilos para los títulos de sección */
section {
    text-align: center;
    padding: 20px 0;
}

section h2 {
    font-size: 2em; /* Tamaño de fuente doble */
    margin: 0;
    padding: 20px 0; /* Espaciado adecuado alrededor del título */
}

section p, section ul, section ol {
    font-size: 1em; /* Tamaño de fuente para el contenido */
}

/* Ajustes para asegurar que los títulos estén centrados y con padding */
#nosotros h2,
#beneficios h2,
#eventos h2,
#unete h2,
#contacto h2 {
    margin-bottom: 40px; /* Espacio extra debajo de los títulos para separar del contenido */
}

/* Estilos para los íconos de redes sociales */
.social-follow {
    text-align: center;
    margin-top: 20px;
}

.social-follow p {
    margin: 0;
    font-size: 16px;
    color: #fff;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #333; /* Color del icono */
    margin: 0 5px;
    font-size: 24px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    width: 40px; /* Ancho del ícono */
    height: 40px; /* Alto del ícono */
    line-height: 40px; /* Alineación vertical del ícono */
    border-radius: 8px; /* Bordes redondeados */
    background-color: #fff; /* Fondo blanco */
    text-align: center; /* Centrar ícono dentro del contenedor */
}

.social-icons a:hover {
    background-color: #ECB941; /* Cambiar color de fondo al hacer hover */
    color: #fff; /* Cambiar color del ícono al hacer hover */
}



/* Section */
section {
    padding-top: 3em;
    padding-bottom: 5em;
}

section h1 {
    font-size: 3em;
}

section h2 {
    font-weight: bold;
    font-size: 2.5sem;
}

/* Inicio */
#inicio {
    color: #ffffff;
    background-color: #1E1E1E;
    padding-top: 7em;
    padding-bottom: 8em;
}
#inicio h1 {
    line-height: 1.0;
}
#inicio h1 span {
    color: #ECB941;
}
#inicio p {
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Nosotros */
#nosotros {
    background-color: #ffffff;
    padding: 20px;
    padding-top: 3em;
    padding-bottom: 5em;
}

#nosotros h2 {
    text-align: center;
    margin-bottom: 20px;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Alinea los elementos verticalmente al centro */
}

.text, .images {
    width: 50%;
    box-sizing: border-box;
}

.text {
    padding: 20px;
}

.images {
    position: relative;
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.coder-image {
    position: relative;
    z-index: 2;
    max-width: 80%;
    height: auto;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .text, .images {
        width: 100%;
        padding-bottom: 30px;
    }
}

/* Estilos para la sección Beneficios */
#beneficios {
    background-color: #ECB941;
    color: #1E1E1E;
    padding: 20px;
    padding-top: 3em;
    padding-bottom: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#beneficios .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
}

#beneficios .item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    flex: 0 0 45%; /* Cada columna ocupa aproximadamente la mitad del ancho disponible */
    max-width: 45%;
    min-width: 300px; /* Asegura que los elementos no sean demasiado pequeños */
}

#beneficios .item img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

#beneficios .item h3 {
    margin: 0;
    font-size: 1.2em;
}

#beneficios .item p {
    margin: 5px 0 0 0;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    #beneficios .item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    #beneficios {
        padding-top: 3em;
        padding-bottom: 5em;
    }
}

/* Eventos */
#eventos {
    background-color: #F5F5F5;
    padding: 20px;
}

#eventos h2 {
    text-align: center;
    margin-bottom: 20px;
}

#eventos .content-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.text {
    width: 33.33%;
    box-sizing: border-box;
    display: flex; /* Usar flexbox para centrar verticalmente */
    flex-direction: column; /* Alinear elementos hijos verticalmente */
    justify-content: center; /* Centrar verticalmente */
    padding: 20px;
    text-align: left; /* Alinear texto a la izquierda */
}

.calendar {
    width: 66.66%;
    box-sizing: border-box;
    padding: 20px;
}

#calendar {
    width: 100%;
    height: auto; /* Ajuste automático de altura */
    font-size: 0.75em;
    font-weight: normal;
}

.fc-toolbar-title{
    text-transform: lowercase;
}
.fc-toolbar-title::first-letter{
    text-transform: uppercase;
}

.fc-event-title{
    white-space: normal;
}

.fc-col-header-cell-cushion{
    text-transform: uppercase;
}

.content-calendar{
    padding: 2rem;
}

/* Estilos para el botón de inscripción */
.inscription-button {
    display: inline-block; /* Para comportarse como un botón */
    padding: 10px 10px; /* Espaciado interior del botón */
    background-color: #1E1E1E; /* Color de fondo del botón */
    color: #FFFFFF; /* Color del texto */
    text-align: center; /* Centrar el texto */
    text-decoration: none; /* Eliminar subrayado */
    border-radius: 5px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negrita */
    transition: background-color 0.3s ease; /* Suavizar el cambio de color */
}

.inscription-button:hover {
    color: #1E1E1E; /* Cambio de color al pasar el cursor */
    background-color: #ECB941; /* Cambio de color al pasar el cursor */
}

#eventos .content-wrapper .text h3 {
    padding-bottom: 0.5em;
}

#eventos .content-wrapper .text ul {
    padding-left: 2em;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .text, .calendar {
        width: 100%;
        padding: 10px;
    }
}


/* Únete */
#unete {
    color: #ffffff;
    background-color: #982E22;
    text-align: center;
}

/* Estilo para la lista#unete  ordenada */
.content-wrapper ol {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;

}

/* Estilo para cada elemento de la lista */
#unete .content-wrapper li {
    flex: 1;
    margin: 0 15px;
    position: relative;
}

/* Estilo para los números en círculos */
#unete .content-wrapper li:nth-child(1)::before {
    content: "1";
}

#unete .content-wrapper li:nth-child(2)::before {
    content: "2";
}

#unete .content-wrapper li:nth-child(3)::before {
    content: "3";
}

#unete .content-wrapper li::before {
    display: block;
    background-color: white;
    color: #982E22;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: bold;
    margin: 0 auto 10px;
    font-size: 16px;
    position: absolute;
    top: -40px; /* Ajusta según sea necesario para la posición vertical */
    left: 50%;
    transform: translateX(-50%);
}

/* Estilo para el h3 */
#unete .content-wrapper h3 {
    margin: 0;
    font-size: 1.2em;
}

/* Estilo para el párrafo */
#unete .content-wrapper p {
    margin: 0;
}

/* Diseño responsive */
@media (max-width: 768px) {
    #unete .content-wrapper ol {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0 auto; /* Asegura que el contenedor esté centrado horizontalmente */
    }
    
    #unete .content-wrapper li {
        margin-bottom: 30px;
        position: static; /* Elimina el posicionamiento absoluto en pantallas pequeñas */
        text-align: center;
    }
    
    #unete .content-wrapper li::before {
        position: static;
        margin: 0 auto 10px;
        transform: none; /* Elimina el ajuste de posición horizontal */
        top: auto; /* Elimina el ajuste de posición vertical */
    }
}

/* Contacto */
#contacto {
    background-color: #F5F5F5;
}

/* Footer */
footer {
    background-color: #FFFFFF;
    color: #1E1E1E;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #ECB941;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
